.filters__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 182px;
  height: 100%;
  background: #bdbdbd;
  padding-top: 35px;
  padding-left: 20px;
}

.filters__title {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 0;
}
.filters__button {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
